name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write git branch

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps: [uses: answerdotai/workflows/quarto-ghp@master]
